
repos:
    - repo: https://github.com/psf/black
      rev: 19.10b0
      hooks:
        - id: black
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: check-added-large-files
    - repo: local
      hooks:
        - id: pylint
          name: pylint
          entry: pylint backend/
          language: system
          always_run: true
          pass_filenames: false
        - id: pipenv-to-requirements
          name: pipenv-to-requirements
          entry: cd backend/ && pipenv_to_requirements
          language: system
          always_run: true
          pass_filenames: false